@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);
body {
  background: #fff;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6, a, button, img, ul, li {
  margin: 0;
  padding: 0;
  color: #363636; }

button {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  color: #fff;
  font-size: 16px;
  background-color: #16a085;
  width: 230px;
  height: 72px;
  border-radius: 4px;
  border: none;
  box-shadow: inset 0px -3px 0px 0px #3bd4b6;
  cursor: pointer; }
  button:hover {
    background-color: #19b596; }

h1, h4, h5, h6 {
  text-transform: none; }

h1, h2, h3, h4, h5 {
  font-weight: 100; }

h1 {
  font-size: 48px;
  color: #fff;
  line-height: 1.3; }

h2 {
  font-size: 33.5px; }

h3 {
  font-size: 24px; }

h4 {
  font-size: 18px; }

h5 {
  font-size: 16px;
  margin: 15px 0 20px 0;
  line-height: 1.75;
  color: #777777; }

h6 {
  font-family: Georgia, serif;
  font-size: 14px;
  font-weight: 300;
  font-style: italic;
  color: #8a8a8a; }

sup {
  vertical-align: super;
  font-size: smaller; }

#header {
  width: 100%;
  text-align: center;
  background-color: #2C3E50;
  background-image: url(/images/stripes.png);
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  padding-bottom: 1px; }
  #header .logo {
    margin: 124px 0 30px 0;
    padding: 0; }
  #header h4 {
    color: #fff;
    margin: 25px 0 100px 0; }
  #header button {
    margin-right: 12px; }
  #header .video-btn {
    border: 2px solid #fff;
    background-color: #22303d;
    margin-left: 12px;
    box-shadow: none; }
    #header .video-btn:hover {
      background-color: #141d25; }
  #header a {
    display: block;
    margin: 115px auto 100px;
    width: 48px; }

.page-content {
  position: relative;
  padding-right: 190px; }

#sidebar {
  background: #e4e8ea;
  position: absolute;
  right: 0;
  width: 190px;
  height: 100%;
  text-align: center;
  color: #757575; }
  #sidebar .sidebar-logo {
    margin: 124px 0 64px 0; }
  #sidebar ul {
    font-size: 12px;
    list-style: none;
    line-height: 5.1666666; }
  #sidebar li span {
    display: block;
    width: 30px;
    height: 1px;
    background: #757575;
    margin: 0 auto; }
  #sidebar a {
    text-decoration: none; }
  #sidebar .sidebar-email-icon {
    margin-top: 80px; }

#lorem-dolor, #gravida, #ut-sagittis, #sign-up, #cta-last {
  max-width: 850px;
  margin: 0 auto; }

#vel-bibendum, #footer {
  max-width: 900px;
  margin: 0 auto; }

#lorem-dolor .phone, #lorem-dolor .lorem-dolor-text {
  display: inline-block; }
#lorem-dolor .lorem-dolor-text {
  width: 500px; }
  #lorem-dolor .lorem-dolor-text .icon {
    margin: 0 10px 0 30px; }
  #lorem-dolor .lorem-dolor-text .down-arrow {
    margin-bottom: 180px; }
#lorem-dolor .phone {
  margin-top: 140px; }

#gravida .phone, #gravida .gravida-text {
  display: inline-block; }
#gravida .phone {
  margin: 209px 30px 0 0; }
#gravida .gravida-text {
  width: 490px; }
  #gravida .gravida-text .down-arrow {
    margin-bottom: 200px; }

#ut-sagittis {
  text-align: center;
  padding-bottom: 206px; }
  #ut-sagittis h6 {
    margin-top: 203px; }
  #ut-sagittis .person1, #ut-sagittis .person2, #ut-sagittis .person3 {
    display: inline-block;
    width: 240px;
    margin: 45px 0 20px 0; }
    #ut-sagittis .person1 img, #ut-sagittis .person2 img, #ut-sagittis .person3 img {
      margin-bottom: 28px; }
    #ut-sagittis .person1 h6, #ut-sagittis .person2 h6, #ut-sagittis .person3 h6 {
      margin-top: 8px;
      line-height: 1.714; }
  #ut-sagittis .person2 {
    margin: 0 32px; }
  #ut-sagittis a {
    display: block;
    margin: 0 auto;
    width: 50px; }

.sign-up-box {
  width: 100%;
  background-color: #2C3E50;
  background-image: url(/images/stripes.png);
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: 100% auto; }
  .sign-up-box #sign-up {
    text-align: center; }
    .sign-up-box #sign-up h2, .sign-up-box #sign-up h4 {
      color: #fff; }
    .sign-up-box #sign-up h2 {
      padding: 105px 0 18px 0; }
    .sign-up-box #sign-up h4 {
      padding-bottom: 56px; }
    .sign-up-box #sign-up form {
      padding-bottom: 50px; }
      .sign-up-box #sign-up form .email-wrapper {
        display: inline-block;
        background: url(/images/envelope-icon.png) no-repeat 20px center;
        background-color: #fff;
        border-radius: 4px 0 0 4px;
        border: 1px solid #000;
        border-right: none; }
      .sign-up-box #sign-up form input {
        font-family: inherit;
        font-size: 16px;
        display: inline-block;
        border: none; }
        .sign-up-box #sign-up form input[type=email] {
          width: 410px;
          height: 69px;
          color: #999999;
          background: none;
          border-radius: 4px 0 0 4px;
          padding-left: 70px; }
        .sign-up-box #sign-up form input[type=submit] {
          height: 71px;
          text-transform: uppercase;
          color: #fff;
          background-color: #16a085;
          width: 204px;
          border: none;
          border-radius: 0 4px 4px 0;
          box-shadow: inset 0px -3px 0px 0px #3bd4b6; }
          .sign-up-box #sign-up form input[type=submit]:hover {
            background-color: #19b596; }
      .sign-up-box #sign-up form .email-message {
        background-color: #f26c4f;
        padding: 10px 0;
        width: 691px;
        border-radius: 4px;
        margin: 10px auto;
        visibility: hidden; }
        .sign-up-box #sign-up form .email-message h6 {
          color: #fff;
          display: inline-block; }
        .sign-up-box #sign-up form .email-message img {
          position: relative;
          top: 4px; }

#vel-bibendum {
  text-align: center; }
  #vel-bibendum h6:first-child {
    padding-top: 210px; }
  #vel-bibendum h2 {
    padding-bottom: 45px; }
  #vel-bibendum a {
    color: #16a085;
    text-decoration: none; }
  #vel-bibendum .opinion1, #vel-bibendum .opinion2, #vel-bibendum .opinion3, #vel-bibendum .opinion4 {
    width: 410px;
    height: 330px;
    border: 1px solid #e1e1e1;
    display: inline-block; }
    #vel-bibendum .opinion1 img, #vel-bibendum .opinion2 img, #vel-bibendum .opinion3 img, #vel-bibendum .opinion4 img {
      padding: 46px 0 13px 0; }
    #vel-bibendum .opinion1 h6:last-child, #vel-bibendum .opinion2 h6:last-child, #vel-bibendum .opinion3 h6:last-child, #vel-bibendum .opinion4 h6:last-child {
      padding: 30px;
      line-height: 1.714; }
  #vel-bibendum .opinion1 {
    margin: 0 27px 31px 0; }
  #vel-bibendum .opinion2 {
    margin: 0 0 31px 27px; }
  #vel-bibendum .opinion3 {
    margin: 31px 27px 0 0; }
  #vel-bibendum .opinion4 {
    margin: 31px 0 0 27px; }

.cta-last-box {
  border-bottom: 1px solid #e1e1e1; }
  .cta-last-box #cta-last {
    text-align: center; }
    .cta-last-box #cta-last h3 {
      margin-top: 140px; }
    .cta-last-box #cta-last h6 {
      line-height: 2; }
    .cta-last-box #cta-last button {
      margin: 60px 0 100px 0; }

#footer {
  font-size: 14px;
  text-transform: none; }
  #footer ul, #footer li, #footer p {
    display: inline-block; }
  #footer li, #footer p {
    color: #8a8a8a; }
  #footer li {
    padding: 40px 0 45px 0;
    margin: 0 10px; }
    #footer li:first-child {
      margin-left: 0; }
    #footer li a {
      text-decoration: none; }
  #footer button {
    margin-left: 145px;
    text-transform: none;
    font-family: "Helvetica Neue";
    font-weight: bold;
    font-size: 11px;
    text-align: left;
    color: #323232;
    width: 106px;
    height: 22px;
    border-radius: 3px;
    border: solid 1px #cccccc;
    background-image: -moz-linear-gradient(90deg, #e3e3e3 0%, white 96%);
    background-image: -webkit-linear-gradient(90deg, #e3e3e3 0%, white 96%);
    background-image: -ms-linear-gradient(90deg, #e3e3e3 0%, white 96%);
    background-color: #19b596;
    box-shadow: none; }
    #footer button img {
      position: relative;
      top: 2px;
      padding: 0 4px; }
  #footer p {
    margin-left: 10px; }

@media screen and (max-width: 1439px) {
  #header h1 {
    width: 80%;
    margin: 0 auto; }
  #header h4 {
    width: 80%;
    margin: 25px auto 100px; }

  #ut-sagittis {
    padding-bottom: 100px; } }
@media screen and (max-width: 1099px) {
  h2 {
    font-size: 30px; }

  #header h4 {
    margin: 25px auto 50px; }
  #header .logo {
    margin: 100px 0 20px 0; }
  #header a {
    margin: 50px auto; }

  .page-content {
    padding-right: 150px; }

  #sidebar {
    width: 150px; }

  #lorem-dolor .phone {
    max-height: 500px;
    margin-top: 100px; }
  #lorem-dolor .lorem-dolor-text {
    margin-left: 20px; }

  #gravida .phone {
    max-height: 500px;
    margin: 100px 30px 0 20px; }

  #ut-sagittis {
    padding-bottom: 50px; }
    #ut-sagittis h6 {
      margin-top: 100px; }

  .sign-up-box #sign-up h2 {
    padding: 100px 0 18px 0; }
  .sign-up-box #sign-up form .email-message {
    padding: 10px 0; }

  #vel-bibendum h6:first-child {
    padding-top: 100px; }
  #vel-bibendum h2 {
    padding-bottom: 0; }
  #vel-bibendum .opinion1, #vel-bibendum .opinion2, #vel-bibendum .opinion3, #vel-bibendum .opinion4 {
    margin: 25px auto; }

  .cta-last-box #cta-last h3 {
    margin-top: 100px; }

  #footer ul {
    margin-left: 20px; }
  #footer button {
    margin-left: 10px; } }
@media screen and (max-width: 979px) {
  #header h1 {
    font-size: 44px; }
  #header .logo {
    margin: 50px 0 20px 0; }

  .page-content {
    padding: 0; }

  #sidebar {
    display: none; }

  #lorem-dolor .phone {
    margin-top: 50px; }
  #lorem-dolor .lorem-dolor-text {
    width: 475px; }
    #lorem-dolor .lorem-dolor-text .down-arrow {
      margin-bottom: 150px; }

  #gravida .phone {
    margin: 50px 20px 0 20px; }
  #gravida .gravida-text {
    width: 475px; }
    #gravida .gravida-text .down-arrow {
      margin-bottom: 150px; }

  #ut-sagittis .person1, #ut-sagittis .person2, #ut-sagittis .person3 {
    display: block;
    margin: 50px auto; }
    #ut-sagittis .person1 img, #ut-sagittis .person2 img, #ut-sagittis .person3 img {
      margin-bottom: 5px; }

  #vel-bibendum h6:first-child {
    padding-top: 50px; }

  .cta-last-box #cta-last button {
    margin: 60px 0; }

  #footer li {
    padding: 30px 0 40px 0;
    margin: 0 8px; } }
@media screen and (max-width: 767px) {
  #header button {
    width: 40%; }
  #header h1 {
    font-size: 38px; }

  #lorem-dolor {
    text-align: center; }
    #lorem-dolor .phone {
      display: none; }
    #lorem-dolor .lorem-dolor-text {
      width: 90%;
      margin-left: 0; }
      #lorem-dolor .lorem-dolor-text h6 {
        margin-top: 50px; }
      #lorem-dolor .lorem-dolor-text .icon {
        display: none; }
      #lorem-dolor .lorem-dolor-text .down-arrow {
        display: block;
        margin: 0 auto 100px auto; }

  #gravida {
    text-align: center; }
    #gravida .phone {
      display: none; }
    #gravida .gravida-text {
      width: 100%; }
      #gravida .gravida-text .down-arrow {
        display: block;
        margin: 0 auto 100px auto; }

  #ut-sagittis h6 {
    margin-top: 0; }

  #vel-bibendum .opinion1, #vel-bibendum .opinion2, #vel-bibendum .opinion3, #vel-bibendum .opinion4 {
    width: 90%; }

  .sign-up-box #sign-up h2 {
    padding: 50px 0 18px 0; }
  .sign-up-box #sign-up h4 {
    padding-bottom: 50px; }
  .sign-up-box #sign-up form {
    padding-bottom: 5px; }
    .sign-up-box #sign-up form .email-message {
      padding: 10px 0;
      width: 80%;
      margin: 0 auto; }
    .sign-up-box #sign-up form .email-wrapper {
      width: 80%;
      border-radius: 4px;
      margin-bottom: 20px; }
    .sign-up-box #sign-up form input[type=email] {
      width: 80%;
      border-radius: 4px;
      border: none; }
    .sign-up-box #sign-up form input[type=submit] {
      margin-bottom: 20px;
      border-radius: 4px; }

  #footer {
    text-align: center; }
    #footer ul {
      margin: 10px auto 20px;
      width: 80%; }
    #footer li {
      padding: 5px 0; }
    #footer button {
      margin-left: 0; }
    #footer p {
      margin-top: 0; } }

/*# sourceMappingURL=styles.css.map */
